* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    background-color: #99a8c9;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #0e0b0c;
}


.content {
    background:   #aa98cc;
    color: white;
    padding: 100px 0;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 60px; 
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
 .content h1 {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

.content p {
    font-size: 22px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #805463;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #8b3855;
}

.features {
    padding: 70px 0;
    text-align: center;
    background-color: #fff;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.feature-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature-item {
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    flex: 1;
}

.feature-item:hover {
    transform: translateY(-10px);
}

.feature-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.feature-item p {
    font-size: 16px;
    color: #777;
}


footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
    text-align: center;
}

footer .social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #ff4081;
}


